h1 {
    text-align: center;
    background-color: #b34d80;
    padding: 80px;
    
    margin-bottom: 50px;
}
body {
    background-color: #F8F8FF;
}

.blue {
	color: blue;
}
.black {
	color: black;
}
.red {
	color: red;
}
.green {
	color: green;
}
#slide, #slide2 {
     padding: 20px;
    text-align: center;
    text-shadow: 1px;
    background-color: #33cc33
;
    border: solid 2px ##40bf40	;
}
#slide2 {
    padding: 20px;
    display: none;
}