
#map {
     position: relative;
     width: 600px;
     height: 500px;
     background-color: #CDA;
     border-color: black;
}

h1, #header, #footer {
	clear: both;
	padding: 10px;
	background-color: black;
	color: white;
	text-align: center;
}
#map-container {
    height: 100%;
    width: 100%;
}

#css {
    background: #649173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
    background: #649173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
